DB_HOST=db
DB_PORT=5432
DB_DATABASE=eksporsiap
DB_USERNAME=postgres
DB_PASSWORD=postgres

EMBEDDING_API_URL=https://api.openai.com/v1/embeddings
EMBEDDING_API_KEY=your_api_key_here
EMBEDDING_MODEL=text-embedding-ada-002
