DB_HOST=db
DB_PORT=5432
DB_DATABASE=eksporsiap
DB_USERNAME=postgres
DB_PASSWORD=postgres

EMBEDDING_API_URL=https://generativelanguage.googleapis.com/v1beta/models/text-embedding-004:embedContent
EMBEDDING_API_KEY=your_api_key_here
EMBEDDING_MODEL=models/text-embedding-004
LLM_MODEL=gemini-1.5-flash
